@import "../variable.scss";

.init__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.mini__container {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .ant-spin-spinning{
    margin-bottom: 0.5rem !important;
  }
  .paginated {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-end;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}
